{% extends "layout.html" %}

{% block body %}
<div>
        <h4> {{server.name}}</h4>
</div>
<div>
        <form>
                <label for="description" style="vertical-align: top;">Description:</label>
                <textarea id="description" readonly>{{server.description}}</textarea>
        </form>
</div>
<div>
        <p> Status: {{server.status.name}}</p>
</div>

{% if accounts |length > 0 %}
<form method="POST" action="{{ url_for('server_join', server_id=server.id) }}">
        {{form.accounts.label}}
        {{form.accounts}}

        <input type='submit' value='Join server' />
        <div>
                <ul>
                        {% for error in form.accounts.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                </ul>
        </div>
</form>
{% endif %}

{% endblock %}